<style>
    .completed{
        text-decoration:line-through;
        background: darkgrey;
    }
</style>

<div ng-init="init()">
    <h2>Invoices</h2>
    <hr>
    <div class="span3 sidebar-nav sidebar-nav-fixed affix">
        <div class="navbar-inner">
            <ul class="nav nav-list">
                <li><a href="#" ng-click="setState('newInvoice')"><i class="icon-fixed-width icon-plus"></i> New invoice</a></li>
                <li><a href="#" ng-click="openInvoicesList()"><i class="icon-fixed-width icon-list"></i> Invoices List</a></li>
                <li><a href="#"><i class="icon-fixed-width icon-search"></i> Search</a></li>
            </ul>
        </div>
    </div>
    <div data-ng-switch="state" class="container-fluid" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <!-- New invoice form-->
        <div id="newInvoicePanel" data-ng-switch-when="newInvoice" data-ng-controller="NewInvoiceModalCtrl" data-ng-init="init()">
            <a href="#" class="btn btn-primary pull-right" role="button" ng-click="saveInvoice()">Save invoice</a>
            <br/><br/>
            <form name="newInvoiceForm" id="newInvoiceForm" class="form-inline well">
                <div class="row-fluid">
                    <div class="span4">
                        <label class="control-label">Vendor</label>
                        <input type="text" class="input-large" ng-model="newInvoice.vendor"
                            required placeholder="Vendor name..." autofocus typeahead="vendor.name for vendor in getVendorSuggestion($viewValue)">
                    </div>
                    <div class="span3">
                        <label class="control-label">Inv. No</label>
                        <input type="text" class="input-medium" ng-model="newInvoice.number" required placeholder="Invoice number...">
                    </div>
                    <div class="span2">
                        <label class="control-label">Tax</label>
                        <div class="input-append">
                            <input type="text" class="input-mini" ng-model="newInvoice.taxPercent" required placeholder="Tax..." ui-slider>
                            <span class="add-on">%</span>
                        </div>
                    </div>
                    <div class="span3">
                        <label class="control-label">Date</label>
                        <input type="text" class="input-medium"  ng-model="newInvoice.date" required placeholder="Date..."
                            ui-date>
                    </div>
                </div>
                <div class="row-fluid" style="margin-top: 10px">
                    <a href="#" class="btn btn-primary pull-left" role="button"
                        data-toggle="modal" data-target="#itemModal" ng-click="open()">Add new item</a>
                    <a href="#" class="btn btn-danger pull-right" ng-click="removeSelectingItems()">Remove selecting items</a>
                </div>
                <div id="itemList" class="gridStyle" ng-grid="newInvoiceGridOptions">
                </div>

                <div class="row-fluid">
                    <div class="pull-right">
                        <div><b>Subtotal: {{newInvoice.subtotal | currency}}</b></div>
                        <div><b>Tax: {{newInvoice.tax | currency}}</b></div>
                        <div><b>Total: {{newInvoice.total | currency}}</b></div>
                    </div>
                </div>
            </form>
            <div modal="itemModal.state" id="itemModal" opts="itemModal.opts">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>New Item</h3>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label">Name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" ng-model="newItem.name" required placeholder="Item name..."
                                   autofocus typeahead="item.name for item in getItemSuggestion($viewValue)">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Unit</label>
                        <div class="controls">
                            <select ng-model="newItem.unit" class="input-xlarge" ng-options="unit for unit in units"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Quantity</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" ng-model="newItem.quantity" required placeholder="Quantity...">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Unit Price</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" ng-model="newItem.unitPrice" required placeholder="Unit Price...">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Subtotal</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" ng-model="newItem.subTotal" required placeholder="Quantity...">
                        </div>
                    </div>
                    {{statusMessage}}
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="control-group">
                        <button class="btn btn-primary" ng-click="addItem()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Invoice list-->
        <div id="invoices" data-ng-switch-default="invoicesList" class="container-fluid">
            <!-- master -->
            <div ng-grid="invoicesListGridOptions" class="gridStyle">
            </div>
            <!-- detail -->
            <div ng-show="selectedInvoice[0]" ng-animate="'animate'" style="margin-top: 10px">
                <a href="/print/invoice/{{selectedInvoice[0]._id}}" class="btn btn-primary" target="_blank"><i class="icon-print"></i> Print this </a>

                <div class="row-fluid">
                    <div class="span4">
                        <label class="control-label">Vendor</label>
                        <input type="text" class="input-large" ng-model="selectedInvoice[0].vendor"
                               required placeholder="Vendor name..." autofocus typeahead="vendor.name for vendor in getVendorSuggestion($viewValue)">
                    </div>
                    <div class="span3">
                        <label class="control-label">Inv. No</label>
                        <input type="text" class="input-medium" ng-model="selectedInvoice[0].number" required placeholder="Invoice number...">
                    </div>
                    <div class="span2">
                        <label class="control-label">Tax</label>
                        <div class="input-append">
                            <input type="text" class="input-mini" ng-model="selectedInvoice[0].taxPercent" required placeholder="Tax..." ui-slider>
                            <span class="add-on">%</span>
                        </div>
                    </div>
                    <div class="span3">
                        <label class="control-label">Date</label>
                        <input type="text" class="input-medium"  ng-model="selectedInvoice[0].date" required placeholder="Date...">
                    </div>
                </div>
                <div id="lastInvoiceItemList" class="gridStyle" ng-grid="lastInvoiceGridOptions">
                </div>
                <div class="row-fluid">
                    <div class="pull-right">
                        <div><b>Subtotal: {{selectedInvoice[0].subtotal | currency}}</b></div>
                        <div><b>Tax: {{selectedInvoice[0].tax | currency}}</b></div>
                        <div><b>Total: {{selectedInvoice[0].total | currency}}</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>